/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TODO: Think about: */

/* RESPONSIVE DESIGN --> media queries */
@media (width <= 600px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
    width: 100vh;
    position: absolute;
    top: 3vh;
    bottom: auto;
    overflow: scroll;
  }
}

/*ACCESSIBILITY */

/* ============================================================== */

/* LOGO IMAGE */
img {
  height: 10rem;
  width: auto;
}

/* HEADER */

header {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* font-family: ink free/gabriola/ravie */

h1 {
  font-family: ravie;
  font-size: 3.5rem;
  color: rgb(0, 56, 0);
  -webkit-text-stroke: 0.1px rgba(255, 81, 0, 0.7);
}

nav {
  font-family: nyala;
  font-size: 1rem;
  color: rgb(0, 56, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* REVIEW DIV */

.review-div {
  border: 1px;
  border-color: black;
}

/* SOCIAL MEDIA ICONS */
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
