/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TODO: Think about: */

/*ACCESSIBILITY --> as part of entire process (from HTML to JS) */

/* RESPONSIVE DESIGN --> media queries */

@media (width <= 600px) {
  html {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
    width: 100vh;
    position: absolute;
    top: 3vh;
    bottom: auto;
    overflow: scroll;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* ============================================================== */

/* font family options: ink free/gabriola/ravie */

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.95)
    ),
    url("../public/assets/background.webp");
}

/* LOGO IMAGE */
#logo {
  height: 10rem;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

/* HEADER */
header {
  background-color: white;
  /* padding: 3rem;
  margin: 2rem; */
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: ravie;
  font-size: 5rem;
  color: rgb(0, 56, 0);
  -webkit-text-stroke: 0.25px rgba(255, 81, 0, 0.75);
}

h2 {
  font-family: verdana;
  color: rgb(0, 0, 0);
}

/* MARQUEE */
marquee {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  padding: 1rem;
  border-style: solid;
  border-width: 0.25px;
  border-color: rgba(255, 81, 0, 0.75);
  background-color: rgba(255, 81, 0, 0.25);
}

/*! DECORATIVE IMAGES --> ran out of time to execute desired styling */
/* img {
  height: 25rem;
  width: auto;
} */

/* #image1 {
  position: fixed;
  left: 0;
  top: 21rem;
  object-fit: cover;
  grid-column-start: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
}

/* #image2 {
  position: fixed;
  right: 0;
  top: 21rem; 
  grid-column-start: 4;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
} */

/*  FORM + DISPLAY AREA */
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #000000;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

p {
  font-family: verdana;
}

#form-section {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column-start: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row-span: 2;
}

#container-title {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#display-title {
  padding: 1rem;
  font-size: 2rem;
  color: rgb(0, 56, 0);
  -webkit-text-stroke: 0.25px rgba(255, 81, 0, 0.75);
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#review-container {
  padding: 3rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.review-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-width: 0.25px;
  border-color: rgba(255, 81, 0, 0.75);
  background-color: rgba(255, 81, 0, 0.25);
}

#footer-div {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-flow: wrap;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BACK TO TOP BUTTON  */
.top-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 3rem;
  right: 0;

  padding: 0.5rem;
  margin: 0 0.5rem 0.3rem 0;
  width: 3rem;
  height: 3rem;

  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 100%;

  background-color: rgba(0, 0, 0, 0.125);
  border-color: rgba(255, 255, 255);

  /* display: hidden;
  float: inline-start;
  z-index: 100; */
}

.top-link:hover {
  background-color: rgba(255, 81, 0, 0.75);
  color: rgb(255, 255, 255);
}

/* SUBMIT BUTTON */
#submit-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3px;
  width: auto;
  height: auto;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.125);
  border-color: rgba(255, 255, 255);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 750;
}

#submit-button:hover {
  background-color: rgb(255, 123, 0);
  color: rgb(255, 255, 255);
}

/* SOCIAL MEDIA ICONS */
.fa {
  padding: 1rem;
  height: auto;
  width: 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.75;
}
